# ==========================
# Editors
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Vim
# ==========================
*.swp
*.swo
*~

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Temporary
# ==========================
*.tmp
*.bak
.cache/

# ==========================
# Generated theme files
# ==========================
themes/generated/

# ==========================
# Local testing
# ==========================
test/

# ==========================
# Shell
# ==========================
.history